<div class="login-app-container">
  <img src="../../../assets/images/person.png" />
  <img src="../../../assets/images/bank.png" class="img-bank" />
  <img src="../../../assets/images/money.png" class="img-money" />
  <img src="../../../assets/images/note.png" class="img-note" />
  <img src="../../../assets/images/path.svg" class="img-path" />
  <img src="../../../assets/images/line.svg" class="img-line" />
</div>
<h1>Forgot Password</h1>

<form (ngSubmit)="sendVerificationCode()" #forgotPasswordForm="ngForm">
  <label for="email">Email ID:</label><br>
  <input id="email" [(ngModel)]="email" name="email" autocomplete="new-password" type="email" required email>
  <!-- Display validation error message -->
  <div class="validation">
    <div
      *ngIf="forgotPasswordForm.controls['email']?.hasError('required') && forgotPasswordForm.controls['email']?.touched">
      Email is required.
    </div>
    <div
      *ngIf="forgotPasswordForm.controls['email']?.hasError('email') && forgotPasswordForm.controls['email']?.touched">
      Please enter a valid email address.
    </div>
  </div>

  <div class="form-control-button">
    <!-- <button type="submit" class="button" [disabled]="!forgotPasswordForm.valid">Send Verification Code</button> -->
    <button type="submit" class="button send-verification-button" [disabled]="!forgotPasswordForm.valid">Send
      Verification Code</button>

  </div>
</form>

<div class="footer">
  <div class="footer-details">
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Back to login</a>
  </div>
</div>