.container {
    align-items: center;
    //height:10px;
}

.mobile-container {


    max-width: 430px;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    background-color: #F8F5FE;
    height: 900px;
}

@media screen and (min-width: 600px) {


    .mobile-container {

        padding: 20px;
        font-size: 1.2rem;
        align-items: center;
    }
}

// .mobile-container {
//     max-width: 380px;
//    // height:9000px;
//     //width:850px;
//     height:100%;
//     margin: 0 auto;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 10px;
//     align-items: center;
//     background-color: #F8F5FE;
// }
// @media screen and (max-width: 1170px) and (max-height: 2532px) {
//  .mobile-container {
//  background-color: #F8F5FE;
//         //height:1000px;
//     //     height:412px;
//     // width:850px;
//         height: 100%;
//         padding: 20px;
//        align-items: center;
//     }
// }

.row {
    border: 0px;
    font: bold;
    margin-top: 120px;

    //font-size: 5rem;
    // font-size:20px;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // color: #483699;
    .one {
        margin-bottom: 200px;
        width: 5px;
        height: 5px;
        border: 1px;
        border-radius: 5%;

    }

}

.three {
    width: 150px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    font-size: 1rem;

}

.row1 {

    color: #483699;
    margin-bottom: 10px;
    border-color: white;
    margin-top: 20px;
    width: 76px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;

}

.btn {
    background-color: #684EDC;
    color: white;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 30px;

}

.row2 {
    color: #483699;
    margin-bottom: 10px;
    margin-top: 30px;
    border: none;
    text-align: left;
    font-size: 20px;
    height: 27px;
    font-family: 'Segoe UI';
}