<div class="mobile-container">
    <div class="row">
        <div class="col">
            Total Value
        </div>
        <div class="col">
            Total growth
        </div>
        <div class="col">
            Investments
        </div>
    </div>
    <div class="row row-color-2">
        <div class="col">
            $3446.0
        </div>
        <div class="col">
            $446.00
        </div>
        <div class="col">
            <p style="margin-left:30px">36</p>
        </div>
    </div>
    <hr>


    <div class="row ">
        <div class="col2">
            <b>High Risk</b>

            <div class="dropdown">
                <img class="image-container" src="assets/images/filter.png">
                <div class="dropdown-content">
                    <a>Yearly View</a>

                    <a>Monthly View</a>

                    <a>Weekly View</a>
                    <div class="calendar-link">
                        <a>Calendar &#9656;</a>
                        <div class="calendar-dropdown">
                            <div class="box"></div>
                            <div class="box3"></div>
                            <div class="box4"></div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card1" style="margin-top:20px">
                <div style="display: flex;"><span style="font-size:50px;color: #FFFFFF;">85%</span>
                    <p style="margin-top: 40px;color: #FFFFFF;">cost</p>
                </div>
                <span style="color: #2CFF41;">Increase in Average</span>
                <br>
                <br>
                <br>

                <span class="datetext" style="color:#FFFFFF ;">07 may,2023</span>

            </div>

        </div>

    </div>

    <div class="row ">
        <div class="col2">
            <b>Medium Risk</b>
            <div class="dropdown">
                <img class="image-container1" src="assets/images/filter.png">
                <div class="dropdown-content">
                    <a>Yearly View</a>


                </div>
            </div>


            <div class="card1" style="margin-top:20px">
                <div style="display: flex;"><span style="font-size:50px;color: #FFFFFF;">65%</span>
                    <p style="margin-top: 40px;color: #FFFFFF;">cost</p>
                </div>
                <span style="color: #2CFF41;">Increase in Average</span>
                <br>
                <br>
                <br>

                <span class="datetext" style="color:#FFFFFF ;">07 may,2023</span>
            </div>

        </div>

    </div>
    <div class="row ">
        <div class="col2">
            <b>Low Risk</b>
            <div class="dropdown">
                <div class="image-container-set2">
                    <img style="height:40px;cursor:pointer;position: absolute;left:250px;bottom: 0;top: -20px;"
                        src="assets/images/filter.png">
                </div>
                <div class="dropdown-content">
                    <a>Yearly View</a>

                    <a>Monthly View</a>

                    <a>Weekly View</a>
                    <div class="calendar-link">
                        <a>Calendar &#9656;</a>
                        <div class="calendar-dropdown">
                            <div class="box"></div>
                            <div class="box3"></div>
                            <div class="box4"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card1" style="margin-top: 20px;">
                <div style="display: flex;"><span style="font-size:50px;color: #FFFFFF;">56%</span>
                    <p style="margin-top: 40px;color: #FFFFFF;">cost</p>
                </div>
                <span style="color: #2CFF41;">Increase in Average</span>
                <br>
                <br>
                <br>


                <span class="datetext" style="color:#FFFFFF ;">07 may,2023</span>
            </div>

        </div>

    </div>


    <hr>


    <div class="image-container-set1">
        <img src="assets/images/funds.png" alt="Funds">
        <img src="assets/images/Allocation.png" alt="Allocation">
        <img src="assets/images/History.png" alt="History">
        <img src="assets/images/performance.png" alt="Performance">

    </div>
    <div class="image-text">
        <p>Funds</p>
        <p>Allocation</p>
        <p>History</p>
        <p>Performance</p>

    </div>
    <div><img style="height: 30px;margin-left: 160px;" src="assets/images/slider.png"></div>


    <hr>



    <h5>Goal Setting</h5>
    <div class="card-body">

        <h2>Long term</h2>
        <div class="long-term">
            <p style="margin-left:10px ;">Equity Investment </p>
            <p class="seventy" style="margin-left: 190px;"><b>70%</b></p>
        </div>
        <hr>

        <h2>Short term</h2>
        <div class="short-term">
            <p style="margin-left:10px ;">Debt,Liquid funds, G sec</p>
            <p class="twenty" style="margin-left: 150px"><b>20%</b></p>
        </div>
        <hr>
        <h2>Medium term</h2>
        <div class="medium-term">
            <p style="margin-left:10px ;">Mutual funds,FD</p>
            <p class="ten" style="margin-left: 195px;"><b>10%</b></p>
        </div>


    </div>





    <div class="card">
        <div class="card-content">
            <img routerLink="/dashboard" src="assets/images/inactivehome.png">

            <img src="assets/images/graph.png">
            <img routerLink="/goals/short-term" src="assets/images/inactivetarget.png">
        </div>
    </div>
</div>