<div class="login-app-container">
  <img src="../../../assets/images/person.png" />
  <img src="../../../assets/images/bank.png" class="img-bank" />
  <img src="../../../assets/images/money.png" class="img-money" />
  <img src="../../../assets/images/note.png" class="img-note" />
  <img src="../../../assets/images/path.svg" class="img-path" />
  <img src="../../../assets/images/line.svg" class="img-line" />
</div>

<div>
  <!-- <app-login-header></app-login-header> -->
  <h1>New Password</h1>
  <h3>New Password</h3>

  <form (ngSubmit)="setNewPassword()">

    <!-- <label>New password</label><br> -->
    <input [(ngModel)]="newPassword" name="newPassword" type="password" required>


    <div>
      <button type="submit" class="proceed-button">Proceed</button>
      <!-- <a  class="proceed-button" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Proceed </a>   -->
    </div>
  </form>
  <br>
  <!-- <div>{{email}}</div> -->
  <!-- <div>{{ enteredOtp }}</div> -->
  <!-- <div>{{generatedOTP}}</div> -->


</div>